@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=DM+Serif+Display:ital@0;1&family=Lilita+One&family=Patua+One&family=Piedra&display=swap'); 

:root {
    --piedra-serif: "Piedra", serif;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: #FFFAF2;
}

/********************* header ************************/

.header {
    display: flex;
    flex-direction: column;
}

/****************** nav ****************/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.nav h2 {
    font-size: 4rem;
    font-family: 'DM Serif Display';
}

.menu {
    display: flex;
    gap: 2rem;
    align-items: center;
    overflow-y: hidden;
}

.menu a {
    font-size: 2rem;
    text-decoration: none;
    color: black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-family: 'DM Serif Display';
}

.menu a:hover {
    transform: scale(1.05);
}

/******************************** banner ****************************/
.banner {
    background: url('/images/banner/bannerImg.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.banner h1 {
    font-size: 5rem;
    font-family: 'DM Serif Display';
    color: white;
}

.banner p {
    font-size: 4rem;
    font-family: 'DM Serif Display';
    color: white;
}

.banner button {
    font-size: 2rem;
    font-family: 'DM Serif Display';
    background-color: white;
    color: black;
    padding: 1rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



/****************************************** MAIN ************************************/
.main {  
    display: flex;
    flex-direction: column;
}

/******************** Seccion de anuncio ******************/
.anucio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.anucio h2 {
    font-size: 4rem;
    font-family: 'DM Serif Display';
}

.anucio p {
    font-size: 3rem;
    font-family: 'DM Serif Display';
}

/****************** Seccion de cheff *************************/
.chef {
    background-color: white;
    display: flex;
    gap: 5rem;
    justify-content: center;
    padding: 2rem;
}

.chef1 {
    width: 35rem;
    height: 35rem;
    background-color: #333;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensure images do not overflow the container */
    transition: transform 0.3s ease;
    gap: 0.2rem;
}

.chef1:hover {
    transform: scale(1.05);
}

.chef1 img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 2rem 2rem 0 0; /* Only round the top corners */
}

.chef1 h3 {
    color: white;
    font-size: 2.5rem;
    padding: 1rem;
    text-align: center;
}

.chef1 p{
    color: white;
    font-size: 2rem;
    text-align: center;
}

/**********************Platos del dia **********************/
.platos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.platos h2 {
    font-size: 4rem;
    font-family: 'DM Serif Display';
    text-align: center;
}

.platos__seccion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; 
}

.plato{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensure images do not overflow the container */
    transition: transform 0.3s ease;
}
.plato img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.plato h3 {
    font-size: 2.5rem;
    padding: 0.5rem;
    text-align: center;
}

.plato p {
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
}

/************************** Testimonios ***************************/

.tituloTestimonios {
    font-size: 2rem;
    font-family: 'DM Serif Display';
    text-align: center;
    padding: 2rem;
}
.testimonios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    gap: 1rem;

}

.testimonio {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/****************************************** FOOTER ******************************************/
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 2rem;
    background-color: #333;
    color: white;
    font-size: 1.5rem;
}

.footer h4 {
    font-size: 4rem;
    font-family: 'DM Serif Display';
}